* {
	box-sizing: border-box;
}

body {
	background-image: url(../images/dust_scratches.png);
}

.header {
	background: #ffffff;
	border-bottom: 3px solid #dddddd;
	border-color: #cccccc;
	height: 90px;
	width: 960px;
	margin:auto;
	margin-top: 10px;
}

.name {
	background-color: #4aaaa5; 
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	font-size: 24px;
	font-weight: 900;
	text-align: center;
	line-height: 90px;
	width: 250px;
	height: 90px;
	float: left;
}

.nav {
	display: block;
	width: 100px;
	height: 90px;
	text-align: center;
	line-height: 90px;
	float: right;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	text-decoration: none;
}

.nav:hover {
    background-color: #ddd;
 }

.content {
	width: 960px;
	margin: auto;
}

.maincontent {
	background: #ffffff;
	width: 650px;
	margin-top: 40px;
	padding: 20px;
	/*float: left*/
}
		
.title {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	font-weight: 900;
	color: #4aaaa5;
	height: 100px;
	line-height: 100px;
	border-bottom: 3px solid #cccccc;
	padding: 10px;
}

.img {
	float: left;
	padding: 10px;
}

.paragraph {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.5;
	padding: 10px;
	color: #777777;
}

.clearfix {
    overflow: auto;
}

.sidebar {
	background: #ffffff;
	width: 270px;
	height: 200px;
}

.connect {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 18px;
	font-weight: 900;
	color: #4aaaa5;
	height: 70px;
	line-height: 100px;
	border-bottom: 3px solid #cccccc;
	margin-top: 40px;
	padding-left: 10px;
}

.link {
	width: 63px;
	height: 63px;
	margin-top: 10px;
	margin-left: 5px;
}

.footer {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: #666666;
	font-size: 12px;
	color: white;
	height: 100px;
	text-align: center;
	line-height: 100px;
	margin-top: 40px;
	border-top: 3px solid #4aaaa5;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

input {
	width: 100%;
	padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

textarea {
	width: 100%;
	padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

input[type=submit] {
	background-color: #4aaaa5;
	font-size: 14px;
	color: white; 
	height: 40px;
	width: 110px;
}
.card {
	position: relative;
 	width: 255px;
 	height: 170px;
 	padding: 10px;
 	margin-left: 25px;
 	/*float: left;*/
}

.tags {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	text-align: center;
	line-height: 40px;
	font-weight: 700;
	width: 255px;
	height: 40px;
	position: absolute;
	bottom: 10px;
}